* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #2e2f42;
}

/* Basic */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
Ñ– h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* =========================================== */

.container {
  width: 1440px;
  padding: 36px 156px;
  margin: 0 auto;
  background: #fff;
}

.back {
  display: block;
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  border-left: 4px solid #6C8CFF;
  margin-bottom: 108px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back:hover {
  color: #6C8CFF;
}

.back:focus {
  color: #6C8CFF;
}

.input {
  width: 272px;
  height: 40px;
  border-radius: 4px solid #808080;
  padding: 8px 16px;
  margin-right: 8px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background: #4e75ff;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background: #6C8CFF;
}

.static {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background: #4e75ff;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.disabled {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background: #cfcfcf;
  cursor: pointer;

  color: #989898;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.timer {
  display: flex;
  width: 346px;
  height: 72px;
  margin-top: 32px;
  gap: 24px;
  text-align: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
